/*body styling*/

body {
	background-image: url(images/bgdark.svg);
	margin: 0;
	padding: 0;
}

/*navbar styling*/

.navbar {
	display: flex ;
	flex-direction: row;
	justify-content: left;
	height: 4rem;
}

/*navbar title styling*/

.navbar-brand {
	width: 18rem; 
	height: 4rem;
	text-decoration: none;
	font-family: 'poppins', sans-serif;
	font-weight: 400;
	color: black;
	padding: 1rem 0 0 1rem;
	font-size: 1.6rem;
	color: white;
}


/*ul(unordered list) styling*/

.navbar-nav {
	list-style: none;
	text-decoration: none;
	margin-left: 48rem;
	margin-top: 1rem;
}

/*li(list) styling*/

.nav-item{
	list-style: none;
	text-decoration: none;
	float: left;
	font-family: 'poppins', sans-serif;
	color: white;
	padding: 0.4rem 1rem 0 1rem;
}

/*a(anchor) styling*/

.nav-link {
	list-style: none;
	text-decoration: none;
	font-family: 'poppins', sans-serif;
	color: white;
	padding: 0.6rem 0.6rem 0.6rem 0.6rem;
	border-radius: 0.6rem;
	font-size: 1rem;
}

.nav-link:hover {
	background-color: grey;

}

/*heading styling*/

h1{
	font-family: 'poppins', sans-serif;
	text-align: center;
	padding: 6rem 0rem 0rem 0rem;
	color: white;
	font-size: 4rem;
}

h2{
	font-family: 'poppins', sans-serif;
	text-align: center;
	padding: 0rem 0rem 0rem 0rem;
	color: white;
	font-size: 2rem;
}

/*button styling*/

.button {
	text-align: center;
	font-family: 'poppins', sans-serif;
	text-decoration: none;
	border-radius: 0.6rem;
	border-width: 0.1rem;
	border-style: solid;
	border-color: grey;
	color: white;
	width: 20rem;
	padding: 0.6rem 1rem 0.6rem 1rem;
}

.button:hover {
	background-color: grey;
}

.button-2 {
	text-align: center;
	font-family: 'poppins', sans-serif;
	text-decoration: none;
	border-radius: 0.6rem;
	border-width: 0.1rem;
	border-style: solid;
	border-color: grey;
	color: white;
	padding: 0.6rem 1rem 0.6rem 1rem;
	margin-top: 1rem;
	width: 20rem;
}

.button-2:hover {
	background-color: grey;
}

.button-adjust {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

/*responsivness*/

@media (max-width: 995px){
	html {
		font-size: 50%;
	}
}

@media (max-width: 768px){
	html {
		font-size: 45%;
	}
}
